
<!DOCTYPE html>
<html ng-app="esri-webmap-example">

<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Angular Esri Map</title>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
    <!-- load bootstrap css -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <!--<link rel="stylesheet" type="text/css" href="styles/narrow.css">-->
    <!-- load Esri CSS -->
    <link rel="stylesheet" type="text/css" href="http://js.arcgis.com/3.11/esri/css/esri.css">
    <!-- dijit theme only needed for chart tooltip in popup in this web map -->
    
    <!-- custom styles for this app -->
    <link href="css/main.css" rel="stylesheet">
</head>

<body>
    <div class="container">
      <div class="header">
          <h1 class="text-muted">Buscador de pisos</h1>
      </div>

      <div ng-controller="MapController" class="row">
        
        <div class="col-md-8">
            <div class="clearfix margin-bottom-10" id="form-idealista">
              <div class="form-group">
                <label><small>Tipo de propiedad</small></label>
                <select class="form-control" ng-model="idealista.propertyType">
                  <option value="bedrooms">Habitación</option>
                  <option value="garages">Garaje</option>
                  <option value="homes">Casa</option>
                  <option value="offices">Oficina</option>
                  <option value="premises">Premises</option>
                </select>
              </div>
              
              <div class="form-group">
                <label><small>Operación</small></label>
                <select class="form-control" ng-model="idealista.operation" />
                  <option value="A">Alquiler</option>
                  <option value="V">Venta</option>
                </select>
              </div>
              
              <div class="form-group">
                <label><small>Sexo</small></label>
                <select class="form-control" ng-model="idealista.sex">
                  <option value="X">Masculino</option>
                  <option value="F">Femenino</option>
                  <option value="X">Indiferente</option>
                </select>
              </div>

              <div class="form-group">
                <label><small>Fotos</small></label>
                <select class="form-control" ng-model="idealista.pictures" />
                  <option value="true">Sí</option>
                  <option value="false">No</option>
                </select>
              </div> 
              
              <div class="form-group">
                <label><small>Piso sin fumadores</small></label>
                <select class="form-control" ng-model="idealista.noSmokers" />
                  <option value="true">Sí</option>
                  <option value="false">No</option>
                </select>
              </div>
              
              <div class="form-group">
                <label><small>Orden</small></label>
                <select class="form-control" ng-model="idealista.order" />
                  <option value="distance">Distancia</option>
                  <option value="size">Tamaño</option>
                  <option value="rooms">Habitaciones</option>
                  <option value="price">Precio</option>
                </select>
              </div>
            </div>
            <esri-map id="map" register-as="map" center="map.center" zoom="map.zoom" basemap="streets"></esri-map>
        </div>

        <div class="col-md-4">
          <p>
            Haz click en el mapa y añade las zonas en las que te gustaría buscar pisos
          </p>
          
          <div ng-show="pois.length">
            <hr>
            <ul class="unstyled" id="pois">
              <li ng-repeat="poi in pois" class="clearfix">
                
                <div class="form-group clearfix">
                  <label><small>Lugar: ({{poi.lat | number:2}}, {{poi.lng | number:2}})</small></label> 
                  <input type="text" class="form-control" ng-model="poi.name" placeholder="Trabajo, colegio, casa de ..."/> 
                </div>

                <div class="form-group">
                  <label><small>Área: (en metros)</small></label>
                  <input type="text" class="form-control" ng-model="poi.radius" />
                </div>
                <i class="fa fa-trash-o btn btn-default" ng-click="delete(poi.id)"></i>

              
              </li>
            </ul>
            <p class="clearfix">
              <button ng-class="{disabled:waiting}" class="btn btn btn-primary pull-right" ng-click="search()">{{loadButton}}</button>
            </p>
          </div>

          <!--  <p>Click: {{ evt.click.lat | number:3 }}, Lng: {{ evt.click.lng | number:3 }}</p>
            <p>Lat: {{ map.center.lat | number:3 }}, Lng: {{ map.center.lng | number:3 }}, Zoom: {{map.zoom}}</p>
          -->
        </div>

        <div class="col-md-12 margin-top-10" ng-show="results.length">
          <h2>{{results.length}} resultados</h2>
          <p>
            Ordenar por: 
            <span ng-click="predicate = 'price'; reverse=!reverse" class="clickable">Precio</span> | 
            <span ng-click="predicate = 'size'; reverse=!reverse" class="clickable">Tamaño</span>
          <p>
          
          <ul class="unstyled" id="results">
            <li ng-repeat="r in results | orderBy:predicate:reverse " class="clearfix text-center">
              <p>
                <a href="http://{{r.url}}">
                  <img ng-src="{{r.thumbnail | trusted }}">
                </a>
              </p>
              <p><small>Precio: {{r.price}}€, {{r.size}}m^2</small></p>
              <!--
              address: "oviedo 6"agency: falseagentLogo: ""bathrooms: 0condition: ""country: "es"description: ""distance: "1049"district: "tetuán"exterior: falsefavComment: ""favourite: falsefloor: "2"hasVideo: falselatitude: 40.4489818longitude: -3.7013749municipality: "madrid"neighborhood: "cuatro caminos"numPhotos: 8operation: "A"photosUrl: "www.idealista.com/inmueble/29442030"price: 350propertyCode: "29442030"propertyType: "habitación"propertyTypeCode: "H"province: "madrid"region: ""rooms: 2showAddress: truesize: 60subregion: ""thumbnail: "http://www.idealista.com/static/common/fotos/volFotos7/16/38/88/l_88371188.jpg"url: "www.idealista.com/29442030"userCode: "111582321"userType: 0videoType: "F"-->
            </li>
          </ul>
        </div>
     </div>

  
    <div class="footer row margin-top-10">
        <p class="text-center col-md-12">
            Realizado con <span class="glyphicon glyphicon-heart"></span> por GeoDevelopers con: Idealista API & AngularJS & ArcGIS API & Bootstrap
        </p>
    </div>
  </div>
  <!-- /container -->
  <!-- load Esri JavaScript API -->
  <script type="text/javascript" src="http://js.arcgis.com/3.11compact"></script>
  <!-- load Angular -->
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-route.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-sanitize.js"></script>
  <!-- load angular-esri-map module -->
  <script src="bower_components/angular-esri-map/dist/angular-esri-map.js"></script>
  <!-- load this app -->
  <!-- run example app controller -->
  <script src="js/app.js"></script>

  <a href="https://github.com/hhkaos/idealista-arcgis"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/652c5b9acfaddf3a9c326fa6bde407b87f7be0f4/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6f72616e67655f6666373630302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png"></a>
</body>
</html>
