
<!DOCTYPE html>
<html ng-app="idealista-arcgis">

<head>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta charset="utf-8">
  <title>Buscador: idealista-arcgis</title>
  <meta name="description" content="Proyecto creado desde la comunidad de Geodevelopers.org">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
  <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="http://js.arcgis.com/3.11/esri/css/esri.css">
  <link href="css/main.css" rel="stylesheet">
</head>

<body>
  <div ng-controller="MapController" class="container">
    <div class="header">
      <h1 class="text-muted">Buscador: <a href="https://github.com/hhkaos/idealista-arcgis">idealista-arcgis</a></h1>
    </div>

    <div class="row">
      <div class="col-md-8">
        <esri-map id="map" register-as="map" center="map.center" zoom="map.zoom" basemap="streets"></esri-map>
        <div class="margin-top-10" ng-show="results.length">
          <h2>{{results.length}} resultados</h2>
          <p>
            Ordenar por:
            <span ng-click="predicate = 'price'; reverse=!reverse" class="clickable">Precio</span> |
            <span ng-click="predicate = 'size'; reverse=!reverse" class="clickable">Tamaño</span> |
            <span ng-click="predicate = 'rooms'; reverse=!reverse" class="clickable">Habitaciones</span> |
            <span ng-click="predicate = 'distance'; reverse=!reverse" class="clickable">Distancia</span>
            <p>

              <ul class="unstyled" id="results">
                <li ng-repeat="r in results | orderBy:predicate:reverse " class="clearfix text-center">
                  <p class="thumbnail">
                    <a href="http://{{r.url}}" class="image">
                      <img ng-src="{{r.thumbnail | trusted }}" onError="this.onerror=null;this.src='/img/noimage.gif';">
                    </a>
                  </p>
                  <p><small>Precio: {{r.price}}€, {{r.size}}m^2</small></p>
                  <!--
                  Ejemplo de variables devueltas por la API de Idealista por cada resultado:
                      - address: "oviedo 6"
                      - agency: false
                      - agentLogo: ""
                      - bathrooms: 0
                      - condition: ""
                      - country: "es"
                      - description: ""
                      - distance: "1049"
                      - district: "tetuán"
                      - exterior: false
                      - favComment: ""
                      - favourite: false
                      - floor: "2"
                      - hasVideo: false
                      - latitude: 40.4489818
                      - longitude: -3.7013749
                      - municipality: "madrid"
                      - neighborhood: "cuatro caminos"
                      - numPhotos: 8
                      - operation: "A"
                      - photosUrl: "www.idealista.com/inmueble/29442030"
                      - price: 350
                      - propertyCode: "29442030"
                      - propertyType: "habitación"
                      - propertyTypeCode: "H"
                      - province: "madrid"
                      - region: ""rooms: 2
                      - showAddress: true
                      - size: 60
                      - subregion: ""
                      - thumbnail: "http://www.idealista.com/static/common/fotos/volFotos7/16/38/88/l_88371188.jpg"
                      - url: "www.idealista.com/29442030"
                      - userCode: "111582321"
                      - userType: 0
                      - videoType: "F"
                    -->
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-md-4" id="filters">
                <h2>Características de la vivienda</h2>
                <div class="form-horizontal" id="form-idealista">
                  <div class="form-group">
                    <label class="col-sm-5 control-label"><small>Tipo de propiedad</small></label>
                    <div class="col-sm-7">
                      <select class="form-control" ng-model="idealista.propertyType">
                        <option value="bedrooms">Habitación</option>
                        <option value="garages">Garaje</option>
                        <option value="homes">Casa</option>
                        <option value="offices">Oficina</option>
                        <option value="premises">Premises</option>
                      </select>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-sm-5 control-label"><small>Operación</small></label>
                    <div class="col-sm-7">
                      <select class="form-control" ng-model="idealista.operation">
                        <option value="A">Alquiler</option>
                        <option value="V">Compra</option>
                      </select>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-sm-5 control-label"><small>Sexo</small></label>
                    <div class="col-sm-7">
                      <select class="form-control" ng-model="idealista.sex">
                        <option value="M">Masculino</option>
                        <option value="F">Femenino</option>
                        <option value="X">Indiferente</option>
                      </select>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-sm-5 control-label"><small>Fotos</small></label>
                    <div class="col-sm-7">
                      <select class="form-control" ng-model="idealista.pictures">
                        <option value="true">Sí</option>
                        <option value="false">No</option>
                      </select>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-sm-5 control-label"><small>Fumadores</small></label>
                    <div class="col-sm-7">
                      <select class="form-control" ng-model="idealista.noSmokers">
                        <option value="">Indiferente</option>
                        <option value="true">No se puede fumar</option>
                        <option value="false">Se puede fumar</option>
                      </select>
                    </div>
                  </div>
            <!--
            <div class="form-group">
                <label class="col-sm-5 control-label"><small>Se permiten mascotas</small></label>
                <div class="col-sm-7">
                    <select class="form-control" ng-model="idealista.pets">
                        <option value="true">Sí</option>
                        <option value="false">No</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-5 control-label"><small>Gay friendly</small></label>
                <div class="col-sm-7">
                    <input type="checkbox" ng-model="idealista.gayPartners">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-5 control-label"><small>Personas que compartiréis</small></label>
                <div class="col-sm-7">
                    <select class="form-control" ng-model="idealista.housemates">
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                    </select>
                </div>
            </div>
          -->
        </div>


        <h2>Preferencias de la zona</h2>
        <p>Haz click en el mapa y añade las zonas en las que te gustaría buscar pisos</p>

        <div ng-show="pois.length">
          <table class="table table-striped" id="pois">
            <tr>
              <th>Coords</th>
              <th>Lugar</th>
              <th>Área (m)</th>
              <th></th>
            </tr>
            <tbody>
              <tr ng-repeat="poi in pois">
                <td>{{poi.lat | number:2}}, {{poi.lng | number:2}}</td>
                <td>
                  <div class="form-group clearfix">
                    <input type="text" class="form-control" ng-model="poi.name" placeholder="Trabajo, colegio, casa de ..."/>
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" ng-model="poi.radius" />
                  </div>
                </td>
                <td>
                  <span class="fa fa-trash-o btn btn-default" ng-click="delete(poi.id)"></span>
                </td>
              </tr>
            </tbody>
          </table>

          <p class="clearfix">
            <button ng-class="{disabled:waiting}" class="btn btn btn-primary pull-right" ng-click="search()">{{loadButton}}</button>
          </p>
        </div>
      </div>

    </div>


    <div class="footer row margin-top-10">
      <p class="text-center col-md-12">
        Realizado con <span class="glyphicon glyphicon-heart"></span> por GeoDevelopers con: <a href="http://www.idealista.com/labs/api.htm">Idealista API</a> + <a href="https://angularjs.org/">AngularJS</a> + <a href="http://js.arcgis.com">ArcGIS API</a> + <a href="http://getbootstrap.com/">Bootstrap</a>
      </p>
    </div>
  </div>
  
  <script type="text/javascript" src="http://js.arcgis.com/3.11compact"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-route.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-sanitize.js"></script>
  <script src="bower_components/angular-esri-map/dist/angular-esri-map.js"></script>
  <script src="js/app.js"></script>

  <a href="https://github.com/hhkaos/idealista-arcgis"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/652c5b9acfaddf3a9c326fa6bde407b87f7be0f4/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6f72616e67655f6666373630302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png"></a>
</body>
</html>
